
@font-face {
  font-family: lunchds;
  src: url("../assets/fonts/better-vcr5.1.ttf") format("opentype");
}
.headercontainer{
  width:auto;
  position:sticky;
  top:0;
  
}
.pagecontainer{
  width:auto;
  top:75px;
  white-space:pre-line;
}